# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# Spring Boot
*.log
*.gz

# OS
.DS_Store
Thumbs.db

# Vaadin
node_modules/
package-lock.json
webpack.generated.js

# Docker
.env
docker-compose.override.yml
